colorama==0.4.6
google_play_scraper==1.2.7
langdetect==1.0.9
lightgbm==4.6.0
matplotlib==3.10.1
numpy==2.2.4
pandas==2.2.3
pytest==8.3.5
scikit_learn==1.6.1
script==1.7.2
seaborn==0.13.2
tensorflow==2.19.0
tf_keras==2.19.0
tqdm==4.67.1
transformers==4.51.1
vaderSentiment==3.3.2
wordcloud==1.9.4
xgboost==3.0.0
